<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>tf.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>F2BCC2FE1F25DCE600DC38B0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F2BCC3121F25DCE600DC38B0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F2BCC31D1F25DCE600DC38B0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
